* {
  margin: 0; }

body {
  background-image: url("hubbel2.jpeg"); }

.tekst {
  background: rgba(100, 122, 136, 0.4);
  height: 190px;
  width: 1500px;
  margin-bottom: 10px;
  padding-top: 20px; }

.tekst h2 {
  color: #f6f1f5;
  font-size: 45px;
  font-family: "Courier New", Courier, monospace; }

h4 {
  color: #f6f1f5;
  font-size: 35px;
  font-family: "Courier New", Courier, monospace; }

#print {
  font-family: "Courier New", Courier, monospace;
  color: #f6f1f5;
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 25px; }

#gameOver {
  width: 90%;
  margin-left: 5%;
  height: 600px;
  background-color: #2E2251;
  opacity: .95;
  justify-content: center;
  padding-top: 120px;
  top: 120px;
  position: absolute;
  display: none; }

h1 {
  color: #f6f1f5;
  font-size: 55px;
  font-family: "Courier New", Courier, monospace; }

#sidsteWin {
  width: 90%;
  margin-left: 5%;
  height: 600px;
  background-color: #2E2251;
  opacity: .95;
  justify-content: center;
  padding-top: 120px;
  top: 120px;
  position: absolute;
  display: none; }

#nextLevel {
  width: 90%;
  margin-left: 5%;
  height: 600px;
  background-color: #2E2251;
  opacity: .95;
  justify-content: center;
  padding-top: 120px;
  top: 120px;
  position: absolute;
  display: none; }

.containerLogoutKnap {
  margin-top: 100px; }

.logoutKnap {
  width: 100px;
  height: 35px;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  background-color: #f6f1f5;
  border: solid 3px black;
  margin-left: 45%;
  text-decoration: none;
  color: black; }
